@font-face {
    font-family: titleFont;
    src: url(Fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: defaultFont;
    src: url(Fonts/Ubuntu-Regular.ttf);
}

body {
    background-color: #191919;
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 0.5vw;
}

body::-webkit-scrollbar-track {
    background: #191919;
}

body::-webkit-scrollbar-thumb {
    background: #272727;
}

.pageContent {
    margin-top: 100px;
}

h2 {
    margin-left: 15px;
    color: white;
    font-size: 30px;
    font-family: titleFont;
    text-decoration-line: underline;
    text-decoration-color: #ff6600;
}

.link, p {
    margin-left: 35px;
    color: white;
    font-family: defaultFont;
}

/*
@media (max-width: 576px) {
    
}*/



