@font-face {
    font-family: titleFont;
    src: url(UbuntuMono-Bold.ttf);
}

@font-face {
    font-family: defaultFont;
    src: url(Ubuntu-Medium.ttf);
}

body {
    background-color: #191919;
}

h1 {
    color: white;
    font-family: titleFont;
    font-size: 60px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: #ff6600;
}

h2 {
    color: white;
    font-size: 30px;
    font-family: titleFont;
    text-decoration-line: underline;
    text-decoration-color: #ff6600;
}

p {
    color: white;
    font-family: defaultFont;
}

.projectLink {
    color: #d2611a;
}

.projectLink:hover {
    color: #ff6600;
}

.magicButton {
    background-color: #d2611a;
    color: white;
    font-family: defaultFont;
    border: none;
    padding: 5px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 5px;
}

.magicButton:hover {
    background-color: #ff6600;
    color: white;
    font-family: defaultFont;
    border: none;
    padding: 5px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 5px;
}