.aboutCards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px;
    margin-top: 120px;
}

.aboutCard {

    flex-direction: column;
    display: flex;
    background-color: #272727;
    border-radius: 25px;
    box-shadow: 3px 3px 5px #131313;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    width: 500px;
}

#aboutMe {
    width: 800px;
    display: grid;
    grid-auto-rows: min-content;

    grid-template-areas:
     'h h'
     'p t'
     'l1 l2';

    grid-template-columns: min-content 520px auto;
}

.cardTitle {
    grid-area: h;
    column-width: auto;
    text-align: center;
    align-self: center;
    width: calc(100% - 60px);
    margin: 20px;
    margin-bottom: 0;
    background-color: #191919;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #131313;
}

img {
    grid-area: p;
    grid-template-columns: min-content;
    grid-row: span 2 / auto;
    margin: 20px;
    margin-right: 0;
    width: 260px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #131313;
}

p {
    margin: 20px;
}

.about-me-text {
    grid-area: t;
    align-self: center;
    grid-auto-flow: row;
}

.links {
    grid-area: l2;
}

.page-button {
    position: inherit;
    width: 130px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.page-button:hover {
    position: inherit;
    width: 130px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 0px;
}


@media (max-width: 840px) {
    #aboutMe {
        width: 500px;
        grid-template-columns: min-content auto auto;
    }

    img {
        width: 130px;
        grid-row: span 1 / auto;
    }
   
    .links {
        grid-area: l1;
    }

    .about-me-text {
        grid-row: span 2 / auto;
    }

    .page-button {
        height: 60px;
        position: inherit;
        width: 130px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .page-button:hover {
        height: 60px;
        position: inherit;
        width: 130px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}